/* Body e Heith */
body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #ffffff;
}

/* Centralizar Conteúdo Verticalmente */
.d-flex {
    align-items: center;
}

/* App Nav */
.app-nav {
    padding: 10px;
}

.nav-link{
    color: #FFFFFF;
}

.nav-item{
    padding-right: 6vh;
}

#nav-menu{
    background-color: #EAE6E5;
}

#myCarousel{
    padding: 0;
}

#img-inicio{
    opacity: 0.5;
}

#div-inicio{
    background-image: url(../img/Background.png);
    height: 70vh;
    color: #ffffff;
}

/* Rodapé */ 
#footer{
    position: fixed;
    margin-bottom: 0;
    background-color: #EAE6E5;
}

/* Botões */
.btn-primary {
background-color: #007bff;
border-color: #007bff;
}

#btn-saiba-mais{
    color: #EDAE49;
}

/* Fontes */
h2,
h3,
h4,
h5 {
color: #333;
}

h1{
font-size: 5vh;
}

#text-inicio{
    padding-top: 25vh;
}

.social{
    font-size: 3vh;
    color: black;
}
.social:hover{
    color: #EDAE49;
}

.link-menu{
    color: #333;
    text-decoration: none;
}

.link-menu:hover{
    color: #EDAE49;
}


@media (min-width: 100px) and (max-width: 995px) {
    .body{
        max-width: 100vh;
    }

    .social{
        font-size: 8vh;
    }

    .nav-item{
        font-size: 4vh;
        margin: 5px;
    }

    #text-institucional{
        font-size: 5vh;
    }

    #accordionExample{
        font-size: 3vh;
    }

    .accordion-button{
        font-size: 3vh;
    }

    #img-institucional{
        display: none;
    }

    #div-inicio{
        background-image: url(../img/Background.png);
        height: 100vh;
        color: #ffffff;
    }
}


/* Style the Image Used to Trigger the Modal */
.img-galery {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-galery{
    max-height: 500px;
}

    
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
    width: 100%;
}
}

.none{
    display: none !important;
}